$color-primary: #ff6a13;
$color-secondary: #007bff;
$color-third: #2cbb6359;
$color-btn: #ffffff15;
$color-bright: #f0f0f0;
$color-dark: #0d0d1b;
$color-grey: #28282d;
$color-hover: rgba($color-primary, 0.76);
$color-red-miner: #c72424;
$color-blue-engineer: #1a76d2;
$color-green-scientist: #2ecc71;
$box-shadow: 10px 10px 5px 0px #4b4b4b;

$border-thickness: 3px;
$corner-size: 0.45em;

#hub {
    .crew {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-dark;

        .toggle-raw__btn {
            --b: #{$border-thickness};
            --s: #{$corner-size};
            --color: $color-bright;

            margin: 16px 0 8px 0;
            padding: calc(0.3em + var(--s)) calc(0.7em + var(--s));
            color: var(--color);
            --_p: var(--s);

            background: conic-gradient(from 90deg at var(--b) var(--b), $color-btn 90deg, var(--color) 0) var(--_p)
                var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
            transition:
                0.3s linear,
                color 0s,
                background-color 0s;
            border-radius: 8px;

            outline: var(--b) solid $color-grey;
            outline-offset: 0.6em;
            font-size: 16px;
            color: $color-bright;

            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;

            &:hover,
            &:focus-visible {
                --_p: 0px;
                outline-color: var(--color);
                outline-offset: 0.05em;
            }

            &:active {
                background: var(--color);
            }
        }

        .raw-data {
            display: grid;
            grid-template-columns: repeat((3, 1fr));
            padding: 16px;
            gap: 16px;
            color: $color-dark;
            background-color: $color-bright;
            border-radius: 8px;

            .loading {
                color: $color-dark;
            }

            .raw-data__object {
                padding: 16px;
                border: 1px solid $color-dark;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                pre {
                    padding: 10px;
                    border-radius: 5px;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                }
            }
        }

        .loading {
            color: $color-bright;
        }
    }

    h1 {
        text-align: center;
        color: $color-bright;
    }

    .navigation {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 15px 0;
        color: $color-bright;

        .nav-list {
            display: flex;
            gap: 20px;
            justify-content: center;

            .nav-list__item {
                .nav-list__btn {
                    all: unset;
                    width: 100px;
                    height: 30px;
                    font-size: 16px;
                    background: transparent;
                    border: none;
                    position: relative;
                    color: $color-bright;
                    cursor: pointer;
                    z-index: 1;
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    white-space: nowrap;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: -99999;
                        transition: all 0.4s;
                    }

                    &::before {
                        transform: translate(0%, 0%);
                        width: 100%;
                        height: 100%;
                        background: $color-grey;
                        border-radius: 10px;
                    }

                    &::after {
                        transform: translate(10px, 10px);
                        width: 35px;
                        height: 35px;
                        background: $color-btn;
                        backdrop-filter: blur(5px);
                        -webkit-backdrop-filter: blur(5px);
                        border-radius: 50px;
                    }

                    &:hover::before {
                        transform: translate(5%, 20%);
                        width: 110%;
                        height: 110%;
                    }

                    &:hover::after {
                        border-radius: 10px;
                        transform: translate(0, 0);
                        width: 100%;
                        height: 100%;
                    }

                    &:active::after {
                        transition: 0s;
                        transform: translate(0, 5%);
                    }
                }
            }
        }
    }

    .sorters {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .btn-sort {
            background-color: $color-btn;
            border-radius: 100px;
            box-shadow:
                $color-btn 0 -25px 18px -14px inset,
                $color-btn 0 1px 2px,
                $color-btn 0 2px 4px,
                $color-secondary 0 4px 8px,
                $color-secondary 0 8px 16px;
            color: $color-bright;
            cursor: pointer;
            display: inline-block;
            font-family:
                CerebriSans-Regular,
                -apple-system,
                system-ui,
                Roboto,
                sans-serif;
            padding: 7px 20px;
            text-align: center;
            text-decoration: none;
            transition: all 250ms;
            border: 0;
            font-size: 16px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;

            &:hover {
                box-shadow:
                    $color-third 0 -25px 18px -14px inset,
                    $color-third 0 1px 2px,
                    $color-third 0 2px 4px,
                    $color-third 0 4px 8px,
                    $color-third 0 8px 16px,
                    $color-third 0 16px 32px;
                transform: scale(1.05) rotate(-1deg);
            }
        }
    }

    .routes {
        #miners {
            padding: 20px;

            h2 {
                text-align: center;
                margin-bottom: 20px;
                color: $color-bright;
            }

            .miners-grid {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 15px;
                margin-top: 20px;

                .miner {
                    margin: 20px 10px;
                    padding: 14px;
                    border-radius: 6px;
                    box-shadow: $box-shadow;
                    color: $color-dark;
                    background-color: $color-bright;
                    border: 6px solid $color-red-miner;

                    h3 {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        #engineers {
            padding: 20px;

            h2 {
                text-align: center;
                margin-bottom: 20px;
                color: $color-bright;
            }

            .engineers-grid {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 15px;
                margin-top: 20px;

                .engineer {
                    margin: 20px 10px;
                    padding: 14px;
                    border-radius: 6px;
                    box-shadow: $box-shadow;
                    color: $color-dark;
                    background-color: $color-bright;
                    border: 6px solid $color-blue-engineer;

                    h3 {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        #scientists {
            padding: 20px;

            h2 {
                text-align: center;
                margin-bottom: 20px;
                color: $color-bright;
            }

            .scientists-grid {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 15px;
                margin-top: 20px;

                .scientist {
                    margin: 20px 10px;
                    padding: 14px;
                    border-radius: 6px;
                    box-shadow: $box-shadow;
                    color: $color-dark;
                    background-color: $color-bright;
                    border: 6px solid $color-green-scientist;

                    h3 {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
